build:stable:
  image: "rust:latest"
  script:
  - rustc --version && cargo --version
  - cargo build --all
  - cargo test --all --verbose

pages:
  image: "rust:latest"
  script:
  - cd library && cargo doc && cd ..
  - mv target/doc/ public/
  artifacts:
    paths:
    - public
  only:
    - master
